@import '~antd/dist/antd.css';

.App {
    margin: 30px;
}

label {
    font-weight: 600;
}

.rarity-3 label {
    color: #a335ee;
}

.rarity-2 label {
    color: #0070dd;
}

.rarity-1 label {
    color: #15b500;
}

.rarity-0 label {
    color: black;
}
